<div>
  O que é?

É um movimento para adesão da população: doe amor através de agasalhos em bom estado e quentinhos.

Qual é o objetivo?

Espalhar cabides pela cidade e promover a doação de agasalhos para quem precisa.

Como funciona?

- Todos podem participar do movimento;
- Cada pessoa pode colocar roupas em cabides já existentes ou adicionar um novo pela cidade;
- O movimento conta com o bom senso de todos para que os mais necessitados se apropriem das doações.

♥

</div>
