<table class="table table-striped table-hover">
  <thead>
    <tr>
        <th>Pontos Existentes</th>
    </tr>
  </thead>
  <tbody>
    <%= content_tag_for(:tr, @pontos) do |ponto| %>
      <td><%= ponto.address%></td>
    <% end %>
  </tbody>
</table>
