<div class="page-header">
  <%= link_to pontos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h3>Novo Cabide</h3>
</div>

<%= render 'form' %>
