<div class="page-header">
  <!--<%= link_to pontos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <div class="title">-->
    <h2>Cadastrar Novo Cabide</h2>
  </div>

<%= render 'form' %>
