  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body{
   height:100%;
 }

 body {
   font-family: 'Source Sans Pro';
 }

.map-canvas{
  margin-left: 10px;
  width:100%;
  height: 100%;
  position: relative;
}

.map-container{
  margin: 0;
  padding: 0;
  width: 74%;
  height: 90%;
  display: block;
  float:left;
  position: absolute;

}

.table-responsive{
  width:24%;
  right: 0;
  position: absolute;
  margin-right: 10px;
}

/* add required field asterisk */
label.required:after {
    content: " *";
}

#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

.navbar-default{
  background-color: #C2C094;
}

.navbar a:link{
  text-decoration: none;
}

.navbar a:visited{
  color: #ffffcc;
}

.navbar-brand{
  color: #ffffcc;
  font-size: 22px;
}

.navbar-brand a:visited{
  color: #ffffcc;
}

.navbar-default .navbar-brand {
  color: #ffffcc;
}
.navbar-default .navbar-nav > li > a {
  color: #6d1320;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffcc;
}

.menu a{
  color: #6d1320;
  font-size: 15px;
}

thead th{
  text-align: center;
  color:#6d1320;
  background-color: #C2C094;
}

.btn-primary{
  background-color: #6d1320;
  border-color: #60111c;
  position: relative;
  top:2px;
}

.page-header{
  margin-left:100px;
}
